.pokeSearchForm {
  width: 400px;
}

.container-wrapper-false {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container-wrapper-true {
  display: flex;
  /* justify-content: start; */
  flex-direction: row;
  margin-left: 133px;
}

ul {
  padding-left: 2rem;
  list-style-type: none;
}

.pokemon-display {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.pokemon-list {
  width: 400px;
}

.poke-card {
  width: 40rem;
  display: flex;
  flex-direction: row;
  border: 2rem solid gray;
  border-radius: 20px;
}

.pokedex-container {
  display: flex;
  flex-direction: column;
  border: red 2rem solid;
  border-top: red 2rem solid;
  border-radius: 20px;
  background-color: red;
}

.pokedex-circle {
  width: 200px;
  height: 80px;
  margin-bottom: 20px;
}

.pokedex-circle-border-white {
  border: 2px white solid;
}

/* Fondos segun clases */

.Rock {
  background-color: rgb(148, 81, 81);
}
.Ground {
  background-color: rgba(148, 81, 81, 0.712);
}
.Ghost {
  background-color: rgba(255, 36, 255, 0.664);
}
.Electric {
  background-color: rgb(255, 255, 161);
}
.Bug {
  background-color: #f6d6a7;
}
.Poison {
  background-color: #e0a7f6;
}
.Psychic {
  background-color: #e0a7f66b;
}
.Normal {
  background-color: #f4f4f4;
}
.Fairy {
  background-color: rgba(255, 192, 203, 0.863);
}
.Fire {
  background-color: #ff260080;
}
.Fighting {
  background-color: #fbe3df;
}
.Grass {
  background-color: #e2f9e1;
}
.Water {
  background-color: #e0f1fd;
}
