.pokeSearchForm {
  width: 400px;
}

.pokemon-display {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.pokemon-list {
  width: 400px;
}

.poke-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 15px;
}

.pokedex-circle {
  width: 200px;
  height: 80px;
  margin-bottom: 20px;
}

.pokedex-circle-border-white {
  border: 2px white solid;
}

.modal-content {
  background-color: transparent;
  border-color: transparent;
}

.pokeball-image {
  margin-top: 1.5rem;
  width: 80%;
  opacity: 90%;
}

.poke-image {
  position: relative;
  width: 70%;
  top: -210px;
}

.img-wrapper {
  height: 250px;
}

/* Fondos segun clases */

.Rock {
  background-color: #8b4513;
}
.Ground {
  background-color: #cd853f;
}
.Ghost {
  background-color: #8b008b;
}
.Electric {
  background-color: #ffff00;
}
.Bug {
  background-color: #bdb76b;
}
.Poison {
  background-color: #8a2be2;
}
.Psychic {
  background-color: #6a5acd;
}
.Normal {
  background-color: #f5f5dc;
}
.Fairy {
  background-color: #ffc0cb;
}
.Fire {
  background-color: #ff4500;
}
.Fighting {
  background-color: #cd5c5c;
}
.Grass {
  background-color: #228b22;
}
.Water {
  background-color: #1e90ff;
}
